@import 'styles/sass/colors'
@import 'styles/sass/variables'
@import 'styles/sass/mixins'

// Global styles
.headerWrapper
  margin-top: 2rem

.header
  +SemiBold
  font-size: 22px
  color: $primary
  margin: 0

.descriptionWrapper
  display: flex
  align-items: center
  text-align: start
  width: 100%
  margin: 1rem auto 0

  p
    +Regular
    color: $grayText
    font-size: 17px
    line-height: 22px

.helpTextWrapper
  display: flex
  gap: 3px
  align-items: center
  height: 1rem
  margin: 0 auto
  width: 100%
  flex-direction: row
  +Regular
  color: $blue
  font-size: 17px
  line-height: 22px
  letter-spacing: 0.02rem

// Tablet
@media #{$tablette}
  .header
    font-size: 20px

// Mobile
@media #{$mobile}
  .header
    font-size: 20px