@import 'styles/sass/colors'
@import 'styles/sass/variables'
@import 'styles/sass/mixins'

// Global styles
.rootBox
  background-color: #F5F5F5
  height: inherit
.rootContainer
  //box-shadow: 0 2.80058px 11.2023px rgba(13, 7, 11, 0.2) !important
  background-color: white !important
  max-width: 1440px !important
  padding-left: 0 !important
  padding-right: 0 !important
  height: inherit
// @media #{}
// @media #{}
// @media #{}
