@import 'styles/sass/colors'
@import 'styles/sass/variables'
@import 'styles/sass/mixins'

// Global styles
.gridRoot
  gap: 15px
  grid-gap: 15px
.rootShopFilterWrapper
  gap: 28px
  grid-gap: 28px
.shopAddOfferWrapper
  display: flex
  flex-direction: column
  width: 100%
  min-height: 450px !important
  text-align: center
  justify-content: center
.addOfferContainer
  width: 100%
  max-height: 700px
  border-radius: 20px
  display: flex
  align-items: center
.centeredInfoActionWrapper
  display: flex
  flex-direction: column
  height: 100%
  width: 400px
  align-content: center
  justify-content: center
  align-items: center
  margin: 0 auto
.infoHeader
  color: $primary !important
.infoSubHeader
  color: $primary !important
.gridButtonAddAnOfferWrapper
  width: auto
.thumbnailWrapper
  width: 250px
  height: 165px
  box-shadow: 0 2.80058px 11.2023px rgba(13, 7, 11, 0.2)
  border-radius: 18px
  position: relative
.thumbnailActionIcon
  position: absolute
  z-index: 5
  top: 5px
  right: 5px
  box-shadow: 0 2.80058px 11.2023px rgba(13, 7, 11, 0.2)
  border-radius: 50px
.filterWrapper
  width: 100%
  margin: 0
  gap: 0
  grid-gap: 0
.filterText
  +SemiBold
  font-size: 19px
  overflow-wrap: break-word
  margin: 0
.creatorImageTag
  width: 68px
  height: 35px
  position: absolute
  bottom: .8rem
  left: .5rem
.offerThumb
  border-radius: 18px
  width: 250px
  height: 165px
  object-fit: cover
.offerTitle
  width: 100%
  +Medium
  font-size: 17px
  color: $primary
  word-break: break-word
.offerRating
  +Regular
  font-size: 14px
  color: #525256
.offerPrice
  +Regular
  font-size: 17px
  color: $primary
.oldPrice
  color: $primary
  text-decoration: line-through
.solderPrice
  @extend .offerPrice
  color: #E12D3D
.loadMoreButton
  +Medium
  font-size: 17px !important
  width: 150px !important
  margin: 0 !important
  color: $primary
// aside filters
.shopFilterWrapperDesktopOnly
  width: 245px
  row-gap: 1rem
  grid-row-gap: 1rem
.gridInStack
  width: 100%
  flex-direction: column
  display: flex
.gridInBlock
  display: block
  width: 100%
.desktopOnly
  display: flex
.gridCardOfferWrapper
  &:hover
    opacity: .8
@media #{$desktop}
  .shopAddOfferWrapper
    flex: 1
    min-height: 100%
    justify-content: space-around

@media #{$tablette}
  .gridRoot
    gap: 6px
    grid-gap: 6px
  .shopAddOfferWrapper
    margin: 1rem auto 0
    justify-content: flex-start
  .rootShopFilterWrapper
    flex-direction: column
  .mobileFilterRootStack
    height: 100%
    margin-top: 24px
    margin-left: 24px
    margin-right: 24px
    grid-column-gap: 0
    column-gap: 0
    grid-row-gap: 0
    row-gap: 0
  .mobileFilterHeader
    +Bold
    font-size: 30px
    color: $primary
    margin-top: 15px
    margin-bottom: 15px
  .closeButtonWrapper
    text-align: start
    width: 40px
    height: 40px
    border-radius: 50%
    background-color: #f2f2f3
@media #{$mobile}
  .gridRoot
    gap: 20px
    grid-gap: 20px
  .gridCardOfferWrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-top: 1rem
  .mobileGridRoot
    width: 98%
  .thumbnailWrapper
    width: 100%
    height: 250px
  .offerThumb
    width: 100% !important
    height: 250px !important
  .gridButtonAddAnOfferWrapper
    width: 100%
    height: 56px
