@import 'styles/sass/colors'
@import 'styles/sass/variables'
@import 'styles/sass/mixins'

// Global styles
.main
  position: absolute
  right: 0
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  overflow-y: scroll
  padding: 0 60px 60px 60px
  width: calc(100% - 350px)
.avatarActionsWrapper
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
.actionsWrapper
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
.shopDetailsWrapper
  display: flex
  flex-direction: column
  width: 100%
.shopTabs
  display: flex
  width: 100%
  margin: 20px 0
// @media #{$desktop}
// @media #{$tablette}
// @media #{$mobile}
