@import 'styles/sass/colors'
@import 'styles/sass/variables'
@import 'styles/sass/mixins'

// Global styles
.button
  +Regular
  font-size: 11px
  background-color: $white
  color: #525256
  width: 100%
  //height: 3rem
  text-transform: none
  // min-width: 240px
  &:hover
    background-color: $white
// @media #{}
// @media #{}
// @media #{}
